@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.mr-20 {
  margin-right: 20px !important;
}

.logo{
    background-color: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content{
    background-color: #151515;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.login{
    /*max-width: 70%;*/
    padding-top: 50px;
    background-color: #1e1d1d;
}

button, input{
     width: 60%;
     background-color:#151515;
     padding: 20px;
     border: none;
     color: white;
}

.inputEmail{
    margin: 20px auto;
    text-align: center;
    
}

.inputPassword{
    margin: 20px auto;
    min-width: 60%;
    text-align: center;
}

#confirmPassword{
    margin: 20px auto;
    background-color:#151515;
    padding: 20px;
    border: none;
}

#loginButton{
    max-width: 60%;
    margin: 0 auto;
}

#registerButton{
    max-width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.registerLink{
    color: gray;
    margin-left: 20%;
    position: relative;
    padding-top: 20px;
    
}

.link{
    color: gray !important;
}

.forgotPassword{
    float: right;
    color: gray !important;
    margin-right: 25%;
    position: relative;
}

footer{
    background-color: #1e1d1d;
    padding-top: 50px;
    height: 100%;
    padding-bottom: 50px;
}

.copyright{
    color: gray;
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
    border-top: 1px solid gray;
    padding-top: 20px;
}